<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.kartik82.android.bloquery"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BloQueryTheme">
        <activity
            android:name=".LoginActivity"
            android:label="BloQuery - Login">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="BloQuery - Register">
        </activity>
        <activity android:name=".HomeActivity">
        </activity>
        <activity android:name=".QuestionActivity">
        </activity>
        <activity
            android:name=".UserActivity"
            android:label="BloQuery - User Profile">
        </activity>
        <activity
            android:name=".EditUserActivity"
            android:label="BloQuery - Edit Profile">
        </activity>
    </application>

</manifest>